
@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-ExtraLight.woff2') format('woff2'),
  url('../fonts/Tajawal-ExtraLight.woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Light.woff2') format('woff2'),
  url('../fonts/Tajawal-Light.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Regular.woff2') format('woff2'), 
  url('../fonts/Tajawal-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Medium.woff2') format('woff2'), 
  url('../fonts/Tajawal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Bold.woff2') format('woff2'), 
  url('../fonts/Tajawal-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-ExtraBold.woff2') format('woff2'), 
  url('../fonts/Tajawal-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../fonts/Tajawal-Black.woff2') format('woff2'), 
  url('../fonts/Tajawal-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



#background, #stars {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999; 
}

#background {
  background: radial-gradient(at bottom right, #32577a 25%, #d4fcff  55%, #000000 90%); 
}


.position_div{
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}
.logo{
  text-align: center;
  padding-top:50px;
}
.logo img {
  width: 350px;
}

.content {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.item {
  text-align: center;
  padding:0 30px;
  color: #3a4348;
  width: 145px;
}

.num {
  font-family: "Tajawal";
  font-size: 70px;
  font-weight: 600;
}

.counter {
  font-family: "Tajawal";
  font-weight: 600;
  font-size: 20px;
  color: #4a7dbf;
}


@media (max-width: 567px) {
  .container {
    width: 100%;
    height: auto;
    padding-top: 0;
  }
  .counter{
    font-size: 20px;
  }
  .content {
    align-items: center;
  }
  
  .item {
    padding: 0 10px;
    width: 85px;
    
  }
  .num{
    font-size: 40px;
  }
  .logo img {
    width: 200px;
  }
}

/* text animation  */


h1.ml8 {
  color: #3a4348;
  font-family: "Tajawal";
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  margin: 0;
}


.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  top: -0.2em;
}


.ml8 .circle-dark {
  width: 2.2em;
  height: 2.2em;
  background-color: #4f7b86;
  border-radius: 3em;
  z-index: 1;
}


/* social media */



ul
{
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    display: flex;
    justify-content: center;

}
ul li
{
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    margin: 0 20px;
    background: #ccc;

}
ul li span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #3a4348;
    font-size: 20px !important;
}

ul li:hover span:nth-child(5)
{
    transform: translate(30px,-30px);
    opacity: 1;
    -webkit-transform: translate(30px,-30px);
    -moz-transform: translate(30px,-30px);
    -ms-transform: translate(30px,-30px);
    -o-transform: translate(30px,-30px);
}
ul li:hover span:nth-child(4)
{
    transform: translate(30px,-30px);
    opacity: .8;
}
ul li:hover span:nth-child(3)
{
    transform: translate(20px,-20px);
    opacity: .6;
}
ul li:hover span:nth-child(2)
{
    transform: translate(10px,-10px);
    opacity: .4;
}
ul li:hover span:nth-child(1)
{
    transform: translate(0,0);
    opacity: .2;
}

ul li:nth-child(1) span
{
    background: rgb(255, 255, 255);
}
ul li:nth-child(2) span
{
    background: rgb(255, 255, 255);
}
ul li:nth-child(3) span
{
    background: rgb(255, 255, 255);
}
ul li:nth-child(4) span
{
    background: rgb(255, 255, 255);
}
ul li:nth-child(5) span
{
    background: rgb(255, 255, 255);
}
@media (max-width: 567px){
  ul li{
    margin: 0 10px;
  }
}